[submodule "src/active_grasp"]
	path = src/active_grasp
	url = https://github.com/Pitcherrr/active_grasp.git
[submodule "robot_helpers"]
	path = robot_helpers
	url = https://github.com/Pitcherrr/robot_helpers.git
[submodule "src/robot_helpers"]
	path = src/robot_helpers
	url = https://github.com/Pitcherrr/robot_helpers.git
